<!-- <nav class="navbar navbar- bg- justify-content-between shadow p-2">
    <a class="navbar-brand">RCS</a>
    <div>
        <button routerLink="/dashboard" class="btn btn-success m-1 shadow">Inicio</button>
        <button routerLink="/documents" class="btn btn-success m-1 shadow">Documentos</button>
        <button routerLink="/consulting" class="btn btn-success m-1 shadow">Consultar</button>
        <button class="btn btn-danger m-1 shadow" (click)="salir()">Salir</button></div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-warning shadow">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse p-2 text-center" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><b>TM</b></a>
        <!-- <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <button routerLink="/dashboard" class="btn btn-success shadow">Inicio</button>
            </li>
            <li class="nav-item">
                <button routerLink="/documents" class="btn btn-success shadow">Documentos</button>
            </li>
            <li class="nav-item">
                <button routerLink="/consulting" class="btn btn-success shadow">Consultar</button>
            </li>
        </ul> -->
        <!-- <button class="btn btn-danger shadow form-inline my-2 my-lg-0" (click)="salir()">Salir</button> -->
    </div>
</nav>