<app-navbar [where]="'search'"></app-navbar>
<div class="fc">

    <div class="container">

        <div class="row justify-content-center allscreen pt-5">

            <div class="col-lg-11 col-md-11 col-sm-11 shadow p-2 text-start border-radio bg-light" style="margin-top:50px;">
                <div class="col-lg-12 col-md-12 col-sm-12 p-2 text-center">
                    <h3>Buscador de libros!</h3>
                </div>

                <div class="row justify-content-space-around">

                    <div class="col-lg-2 col-md-6 col-sm-10 text-center">
                        <img src="../../../assets/img/search.png" alt="" width="100px">
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-10 text-center">

                        <div class="row justify-content-space-around">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input type="text" class="form-control shadow p-2" maxLength="50" placeholder="Que libro estas buscando?" style="font-size: 20px;">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 mt-1">
                                <select class="form-control p-2" [(ngModel)]="category_id" style="font-size: 20px;">
                                    <option value="null">Seleccionar categoria</option>
                                    <option *ngFor="let category of listCategories" value={{category.id}}>{{ category.name }}</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-10 col-sm-10 text-center">
                        <div class="row justify-content-space-around">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <input type="date" class="form-control shadow p-2" style="font-size: 20px;">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 mt-1">
                                <input type="date" class="form-control shadow p-2" style="font-size: 20px;">
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn btn-success btn-block btn-lg mt-3 shadow" (click)="search()">
                    <h3 class="text-white">Buscar</h3>
                </button>
            </div>

        </div>

    </div>

</div>